doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Webpack Template
  body
    .wrapper
      .content
        h1.content__title Title
        .content__text
          p lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem lorem
      button.gmb-button(type="button")
        .gmb-button__section
      .gmb-menu-hide
      .gmb-menu
        button.gmb-button_close(type="button")
        .gmb-menu__wrapper
          ul.menu__list
            li.menu__item
              a.menu__link One
            li.menu__item
              a.menu__link Two
            li.menu__item
              a.menu__link Three
            li.menu__item
              a.menu__link Four
            li.menu__item
              a.menu__link Five